@model ConfigurationModel

@using Nop.Plugin.Payments.Ghost.PaymentAuthorizeNet.Models;
@using Nop.Web.Framework.Extensions

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="PaymentAuthorizeNet" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ApiLoginId_OverrideForStore" asp-input="ApiLoginId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ApiLoginId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiLoginId" />
                        <span asp-validation-for="ApiLoginId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="TransactionKey_OverrideForStore" asp-input="TransactionKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="TransactionKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TransactionKey" />
                        <span asp-validation-for="TransactionKey"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Environment_OverrideForStore" asp-input="Environment" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Environment" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Environment" />
                        <span asp-validation-for="Environment"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="TransactModeId_OverrideForStore" asp-input="TransactModeId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="TransactModeValues" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="TransactModeId" asp-items="Model.TransactModeValues" />
                        <span asp-validation-for="TransactModeId"></span>
                    </div>
                </div>
                @(await Html.LocalizedEditorAsync<ConfigurationModel, ConfigurationModel.ConfigurationLocalizedModel>("plugin-settings-localized",
                    @<div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="DescriptionText_OverrideForStore" asp-input="@Model.Locales[item].DescriptionText" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="@Model.Locales[item].DescriptionText" />
                            </div>
                            <div class="col-md-9">
                                <nop-textarea asp-for="@Model.Locales[item].DescriptionText" />
                                <span asp-validation-for="@Model.Locales[item].DescriptionText"></span>

                            </div>
                        </div>
                        <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                    </div>
                    ,
                    @<div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="DescriptionText_OverrideForStore" asp-input="DescriptionText" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="DescriptionText" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="DescriptionText" />
                                <span asp-validation-for="DescriptionText"></span>
                            </div>
                        </div>
                    </div>
                    ,
                    //localizable settings per store (overrriden store settings) are not supported yet
                    true))
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ShippableProductRequired_OverrideForStore" asp-input="ShippableProductRequired" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ShippableProductRequired" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ShippableProductRequired" />
                        <span asp-validation-for="ShippableProductRequired"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SkipPaymentInfo_OverrideForStore" asp-input="SkipPaymentInfo" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SkipPaymentInfo" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipPaymentInfo" />
                        <span asp-validation-for="SkipPaymentInfo"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
