@model Nop.Plugin.Payments.Ghost.Migs.Models.ConfigurationModel
@using Nop.Plugin.Payments.Ghost.Migs.Models;
@using Nop.Web.Framework.Extensions

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="PaymentMigs" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantId_OverrideForStore" asp-input="MerchantId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantId" />
                        <span asp-validation-for="MerchantId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AccessCode_OverrideForStore" asp-input="AccessCode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AccessCode" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AccessCode" />
                        <span asp-validation-for="AccessCode"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="HashSecret_OverrideForStore" asp-input="HashSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="HashSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="HashSecret" />
                        <span asp-validation-for="HashSecret"></span>
                    </div>
                </div>
                @(await Html.LocalizedEditorAsync<ConfigurationModel, ConfigurationModel.ConfigurationLocalizedModel>("plugin-settings-localized",
                @<div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="DescriptionText_OverrideForStore" asp-input="@Model.Locales[item].DescriptionText" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="@Model.Locales[item].DescriptionText" />
                        </div>
                        <div class="col-md-9">
                            <nop-textarea asp-for="@Model.Locales[item].DescriptionText" />
                            <span asp-validation-for="@Model.Locales[item].DescriptionText"></span>

                        </div>
                    </div>
                    <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                </div>
                ,
                @<div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="DescriptionText_OverrideForStore" asp-input="DescriptionText" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="DescriptionText" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="DescriptionText" />
                            <span asp-validation-for="DescriptionText"></span>
                        </div>
                    </div>
                </div>
                ,
                //localizable settings per store (overrriden store settings) are not supported yet
                true))
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>